// =============================================================================
// COLORS
// =============================================================================

$Mercury: #e6e6e6;
$Alabaster: #fafafa;
$Alto: #dddddd;
$WildStrawberry: #ff408e;
$WildStrawberryLight: rgba(255, 69, 143, 0.6);
$WildStrawberryOther: #ff458f;
$HotPink: #ff6ba6;
$CodGray: #151515;
$DustyGray: #9b9b9b;
$Bittersweet: #fd6464;
$JapaneseLaurel: rgba(41, 149, 1, 0.6);